

<div class="gridSection" ng-controller="user">
	<div class="popup">

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Modal title</h4>
					</div>
					<div class="modal-body">
						<p>确定删除？</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" ng-click="sure(user.index)">确定</button>
					</div>
				</div>
			</div>
		</div>
		<div  class="alert alert-success deled " role="alert" ng-class="{true:'show',false:'hide'}[isdeled]">文件已删除！</div>
	</div>
	<table class="table">
		<tr class="info">
			<th>序号</th>
			<th>用户名</th>
			<th>密码</th>
			<th>性别</th>
			<th>邮箱</th>
			<th>手机号码</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.index}}</td>
			<td>{{user.username}}</td>
			<td>{{user.password}}</td>
			<td>{{user.sex}}</td>
			<td>{{user.email}}</td>
			<td>{{user.tel}}</td>
			<td>正常</td>
			<td>
				<!--<button ng-click="remove(user.index)">删除</button>-->
				<button  data-toggle="modal" data-target="#myModal" ng-click="remove(user.index)">删除</button>
				<button ui-sref = "home.reviseuser({userId:{{user.index}}})">修改</button>

			</td>

		</tr>
	</table>
	<button class="btn btn-primary" ui-sref="home.adduesr">增加用户</button>
	<nav>
	  <ul class="pagination">
	    <li class="disabled">
	      <span>
	        <span aria-hidden="true">&laquo;</span>
	      </span>
	    </li>
	    <li class="active">
	      <span>1 <span class="sr-only">(current)</span></span>
	    </li>
	    
	  </ul>
	</nav>
</div>