<div style="width: 180px; height: 70px;line-height: 70px;background: #D9DEE4;font-weight: 700;padding-left: 15px;">
	<p>云服务器 ECS</p>
</div>
<ul ng-controller="homeNav" >
	<li ng-class="{active:nativeId=='#/home'}"><a href="javascript:;" ui-sref="home" native >概览</a></li>
	<li ng-class="{active:nativeId=='#/home/shili'}"><a href="javascript:;" ui-sref = "home.shiL" native>实例</a></li>
	<li ng-class="{active:nativeId=='#/home/cipan'}"><a href="javascript:;" ui-sref="home.ciP" native>磁盘</a></li>
	<li><a href="javascript:;" ng-click="toggle1()" >快照 <span class="pull-right glyphicon glyphicon-menu-{{arrow1}}" ></span></a>
		<ul ng-hide="submenu1">
			<li ng-class="{active:nativeId=='#/home/kuaizhao'}"><a href="javascript:;" ui-sref="home.kuaiZ" native>快照列表</a></li>
			<li ng-class="{active:nativeId=='#/home/kuaizhao2'}"><a href="javascript:;" native>自动快照政策</a></li>
		</ul>
	</li>
	<li ng-class="{active:nativeId=='#/home/jingxiang'}"><a href="javascript:;" ui-sref="home.jingX" native>镜像</a></li>
	<li ng-class="{active:nativeId=='#/home/anquanzu'}"><a href="javascript:;" ui-sref="home.anQ" native>安全组</a></li>
	<li ><a href="javascript:;" ng-click="toggle2()">标签管理<span class="pull-right glyphicon glyphicon-menu-{{arrow2}}"></span></a>
		<ul ng-hide="submenu2">
			<li ng-class="{active:nativeId=='#/home/biaoqian'}"><a href="javascript:;" ui-sref="home.biaoQ" native>标签1</a></li>
			<li ng-class="{active:nativeId=='#/home/biaoqian2'}"><a href="javascript:;" native>标签2</a></li>
			<li ng-class="{active:nativeId=='#/home/biaoqian3'}"><a href="javascript:;" native>标签3</a></li>
		</ul>
	</li>
	<li ng-class="{active:nativeId=='#/home/caozuo'}" ><a href="javascript:;" ui-sref="home.caoZ" native>操作日志</a></li>
	<li ng-class="{active:nativeId=='#/home/gengxin'}"><a href="javascript:;" ui-sref="home.gengX" native>更新日志</a></li>
</ul>
