*{margin: 0;padding: 0;font-size: 12px;}
body{height: 100%;overflow-x: hidden;}
ul li{list-style: none;}

.header{height: 50px;background:#09C;position: fixed;width: 100%;margin: 0;z-index: 20;}
.header .logo{width: 50px; height: 50px;background: #0087b4;line-height: 50px;float: left;}
.header .logo img{width: 40px;margin-left: 5px;}

.header .header_left>li,.header .header_right>li{float: left;height: 50px;line-height: 50px;border-left:1px solid #0087b4 ;}
.header .header_left li a,.header .header_right li a{height: 50px;display: inline-block;text-decoration: none;padding: 0 15px;font-weight: 600;color: #fff;}
.header .header_left>li:hover,.header .header_right> li:hover{background:#0087b4 ;}
.header .header_left{float: left;}
.header .header_right{float: right;margin-right: 20px;}
.header_right li .Gd li{background: #fff;height: 40px;line-height: 40px;}
.header_right li .Gd a{color: #000;height: 30px;line-height: 30px;}
.header .productBody{position: absolute;width: 600px;padding: 10px;z-index: 20;}
.header .productBody .list{float: left;}
.header .productBody .list p{color: #666;font-weight: 700;}
.header .productBody ul li {height: 30px;line-height: 30px;}
.header .productBody ul li a{height: 30px;color: #000;font-weight: 500;}

.menuLeft{position: fixed;top: 50px;bottom:0;z-index: 20;width: 65px;background: #101010;height: 100%;padding: 0;}
.menuLeft .menuBtn{height: 30px;line-height: 30px;text-align: center;display: inline-block;background: #122B40;width: 100%;}
.menuLeft .menuBtn .addtap{position: absolute;left:50px ;z-index: 9900;}
.btnT_open{width: 150px;}
.btnT_close{width: 65px;}
.btnT_close ul li a span{display: none;}
.btnT_close ul li a:hover span{display: block;position: absolute;width: 80px;top: 0;left: 67px;background: #204D74;}
.menuLeft ul li{width: 100%;height: 40px;}
.menuLeft ul li a{width:100%;height: 40px;display: inline-block;text-decoration: none;text-align: center;line-height: 40px;color: #ccc;}
.menuLeft ul li a:hover{background: #204D74;}
/*.menuLeft_r{ background: #C7DDEF;width: 150px;height: 100%;float: left;padding: 0;}
.menuLeft_r ul li{width: 150px;height: 40px;line-height: 40px;padding-left: 20px;}
.menuLeft_r ul li a{display: inline-block;width: 130px;height: 40px;text-decoration: none;color: #000;font-size: 12px;}
.menuLeft_r ul li:hover{background: #D9EDF7;}*/

.content{position: relative;top: 49px;left: -90px; width: 100%;}
/*.con-nav{background: #fff;}*/
.content .content_nav{width: 180px;position:fixed;top: 50px;z-index: 10;bottom:0;background: #eaedf1;padding: 0;}
.conNav_open{left: 135px;}
.conNav_close{left:50px}
.content .content_nav ul{width: 180px;}
.content .content_nav ul li{width: 180px;}
.content .content_nav ul li a{color: #000;display: inline-block;width: 100%;height: 30px;text-decoration: none;line-height: 30px;padding-left: 25px;}
.content .content_nav ul li a span{padding-right: 20px;height: 30px;line-height: 30px;}
.content .content_nav ul li ul li a{padding-left: 50px;}
.active {background:#fff;font-weight: 700;}
.onNav{background: #fff;font-weight: 700;}
.content_con{margin-top: 30px;}
.conCon_open{margin-left: 280px;width: 90%;}
.conCon_close{margin-left: 200px;width: 94%;}

.subpage .consoleTitle{border-bottom:1px solid #ddd ;height: 50px;}
.subpage .consoleTitle .pullLeft h5{float: left;border-left: 2px solid #88B7E0;text-align: center;margin-right: 10px;padding-left: 5px;}
.subpage .consoleTitle .pullLeft ul li{float: left;width: 50px;height: 30px;text-align: center;line-height: 30px;background: #D9DEE4;margin-left: 2px;}
.subpage .consoleTitle .pullLeft ul li a{color:#444;width: 50px;height: 30px;text-align: center;line-height: 30px;text-decoration: none;}
.subpage .consoleSearch{margin-top: 20px;height: 50px;}
.subpage .consoleSearch .selec{width: 120px;float: left;margin-right: 5px;}
.subpage .gridSection{clear: both;}

.homeTop{height: 50px;border: 1px solid #ccc;margin-top: 20px;}
.homeTop .text{float: left;margin-left: 10px;}
.homeTop .text h4{height: 30px;line-height: 30px;}
.homeTop .btn{float: right;}
.security{height: 120px;}
 h5{margin-left: 15px;padding-left: 10px; border-left: 2px solid #88B7E0;}
.security .security_icon .aqicon{width: 50px;height: 50px;display: inline-block;background: url(../img/g12.png);background-size: cover;}
.security .security_icon .text{position: relative;top: -20px;left: 10px;}
.security .event_wrap{margin-top: 20px;}
.security .event_wrap li{float: left;width: 25%;font-size: 16px;}
.security .event_wrap li span{color: green;margin-right: 10px;}
.myResource .tab {border: 1px solid #ccc;padding: 0;width: 48%;margin:1% 1%;}
.myResource .tab .tab_title{border-bottom: 1px solid #ccc;height: 40px;line-height: 40px;padding-left:10px;}
.myResource .tab .tab_title span{font-size: 16px;font-weight: 700;}
.myResource .tab .tab_title a {display: inline-table;width:40px;height: 40px;font-size: 25px;line-height: 40px;text-decoration: none;}
.myResource .tab .tab_con{padding: 30px 25px;}
.myResource .tab .tab_con .tc_left li{text-align: center;}
.myResource .tab .tab_con ul li{height: 24px;line-height: 24px;margin-bottom: 16px;width: 130px;background: #f3f3f3;font-size: 14px;}
.myResource .tab .tab_con ul li a{color: #000;text-decoration: none;}
.myResource .tab .tab_con ul li a span{margin-right: 15px;}
.myResource .tab .tab_con .line {margin: 10px;text-decoration: none;}

.cz_title{height: 45px;border-bottom: 1px solid #ccc;line-height: 45px;}
.cz_title h5{margin-top: 28px;}
.cz_con .info{height: 30px;background: #dff0d8;line-height: 30px;margin-top: 10px;border: 1px solid #C7DDB9;}
.cz_con .info li{color: #008000;list-style: inside;padding-left: 10px;}
.cz_con .cz_search{height: 50px;}
.cz_con .cz_search li{float: left;margin: 0 10px;height: 25px;line-height: 25px;padding-top: 10px;}
.cz_con .cz_search li select{height: 30px;height: 30px;}
.cz_con .table{background: #F5F6FA;color: #666;}
.content_con .adduser{width: 500px;}
.form-success{border: 1px solid green;}
.form-err{border: 1px solid red;}
.form-iferr{color: red;}
.input_result{position: relative;top: -25px;left: 95%;}
p.success{color: green;}
.input_con{height: 38px;}



/*媒体查询*/
@media (max-width: 1500px) { 
		.conCon_open{width: 85%;margin-left:300px;}
		.conCon_close{width: 85%;margin-left: 230px;}
 }


