<h2 class="container">新增用户信息</h2>
<div class="container adduser" ng-controller="myform" ng-submit="submitForm()">
	<form class="form-horizontal" name="signUp">
	  <div class="form-group" >
	    <label for="inputEmail3" class="col-sm-3 control-label" name="username">用户名：</label>
	    <div class="col-sm-9 input_con">
	      <input type="text" class="form-control" placeholder="请输入用户名" 
	      	ng-class="{'form-err':signUp.username.$invalid && signUp.username.$touched ,'form-success':signUp.username.$valid}"
	      	name="username" required ng-maxlength ="32" ng-minlength ="4" 
	      	ng-model="userdata.username"/>
	      <p class="glyphicon glyphicon-ok input_result success" ng-if="signUp.username.$valid"></p>
	      <p class="form-iferr" ng-if="(signUp.username.$error.minlength||signUp.username.$error.maxlength) && signUp.username.$touched">长度不对</p>
	      <p class="form-iferr" ng-if="signUp.username.$error.required && signUp.username.$touched">用户名不能为空</p>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-3 control-label" name="password">密码：</label>
	    <div class="col-sm-9 input_con">
	      <input type="password" class="form-control" placeholder="密码" 
	      	ng-class="{'form-err':signUp.password.$invalid && signUp.password.$touched ,'form-success':signUp.password.$valid}"
	      	name="password" required ng-maxlength ="64" ng-minlength ="6"
	      	ng-model="userdata.password"/>
	      	<p class="glyphicon glyphicon-ok input_result success" ng-if="signUp.password.$valid"></p>
	      	<p class="form-iferr" ng-if="signUp.password.$error.required && signUp.password.$touched">密码不能为空</p>
	      	<p class="form-iferr" ng-if="(signUp.password.$error.minlength||signUp.password.$error.maxlength) && signUp.password.$touched">长度不对</p>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-3 control-label" name="password2">确认密码：</label>
	    <div class="col-sm-9 input_con">
	      <input type="password" class="form-control" placeholder="确认密码" 
	      	ng-class="{'form-err':signUp.password2.$invalid && signUp.password2.$touched ,'form-success':signUp.password2.$valid}"
	      	name="password2" required ng-maxlength ="64" ng-minlength ="6"
	      	ng-model="userdata.password2" compare="userdata.password"/>
	      	<p class="glyphicon glyphicon-ok input_result success" ng-if="signUp.password2.$valid"></p>
	      	<p class="form-iferr" ng-if="signUp.password2.$error.compare && signUp.password.$touched">两次密码不一致</p>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-3 control-label" name="email">邮箱：</label>
	    <div class="col-sm-9 input_con">
	      <input type="email" class="form-control" placeholder="邮箱" 
	      	name="email" 
	      	ng-model="userdata.email"/>
	    </div>
	    <!--<p class="glyphicon glyphicon-ok input_result success" ng-if=""></p>-->
	  </div>
	   <div class="form-group">
	    <label for="inputPassword3" class="col-sm-3 control-label" name="tel" >手机号码：</label>
	    <div class="col-sm-9 input_con">
	      <input type="tel" class="form-control" placeholder="手机号码" 
	      	name="tel" ng-maxlength ="20" ng-minlength ="7"
	      	ng-model="userdata.tel"/>
	    </div>
	  </div>
	   <div class="form-group " >
	   		<div class="radio col-sm-offset-3 col-sm-9">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="男" checked ng-model="userdata.sex">男
			  </label>
			</div>
			<div class="radio col-sm-offset-3 col-sm-9">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios2" value="女" ng-model="userdata.sex">女
			  </label>
			</div>
	   </div>

	  <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-9">
	      <button type="submit" class="btn btn-primary">提交</button>
	    </div>
	  </div>
	</form>
</div>